
.pulse-btn {
    text-align: center;
    padding: 30px 0;
}
.pulse-btn .btn {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    animation: pulse 1.5s cubic-bezier(0.66, 0.67, 0.83, 0.99) infinite;
}
@media (max-width: 767px) {
    .pulse-btn .btn {
        font-size: 16px;
        letter-spacing: normal;
        padding: 10px 15px;
    }
}
@keyframes pulse {
    0% {
        outline: 5px solid #428bca;
        outline-offset: 0px;
    }
    30% {
        outline: 5px solid rgba(48, 113, 169, 0.7);
        outline-offset: 10px;
    }
    60% {
        outline: 5px solid rgba(48, 113, 169, 0);
        outline-offset: 20px;
    }
    100% {
        outline: 5px solid rgba(48, 113, 169, 0);
        outline-offset: 60px;
    }
}


.iframe-container{
    
    width: 100%;
    padding-bottom:10%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 15px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}





.carousel-indicators li {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}

.carousel-indicators li { 
  visibility: hidden; 
}

.carousel-indicators .active {
    width: 28px;
    height: 28px;
    margin: 10px;
    background-color: #ffff99;
}






.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
   
}



.carousel-control.left .glyphicon {
    left: 0;
    margin-left: 0;
  
}
.carousel-control.right .glyphicon {
    right: 0;
    margin-right: 0;
    
}

